<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>TESTING TESTING
      </p>
      <a href="{{ route('special
      ') }}">List of users</a>
      <h1>About US</h1>
    </div>
  </section>
</body>
</html>
